/* shared style */
.display-flex {
    display: flex;
}

.navbar{
    
    justify-content: space-around;
    align-items: center;
}
.nav-links{
           gap: 20px;
}
.nav-menu{
    display: none;
}

a{
    text-decoration: none;
}
.nav-t2{
    color: #FEA301;
}
.nav-t3{
    color:#01ACFD;
}
.nav-t4{
    color: #05D4DF
}
.nav-t5{
    color: #5D58EF;
}
.nav-btn{
    width: 100px;
    height: 30px;
    background-color: #FEA301;
    border: none;
    border-radius: 8px;
    color: white;
}
.section-1{
    margin: 5%;
    justify-content: space-evenly;
    align-items: center;
    
}
.sec1-card1-t1{
    color: #FEA301;
    font-size: 2rem;
   
}
.sec1-card1-t2{
    color: black;

}
.sec1-card1-t5{
    color: black;
    
}
.sec1-card1-t3{
    color: #01ACFD;

}
.sec1-card1-t4{
    font-size: medium;
    color:rgba(36,36,36,0.5) ;

}
.sec1-btn1{
    height: 40px;
    width: 150px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
}
.section2-t1{
    text-align: center;
}
.section2{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    gap: 5%;
    
}
.section2-card1{
    background: linear-gradient(to bottom, rgb(182, 234, 243), rgb(233, 228, 228));
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.section2-card2{
    background: linear-gradient(to bottom, rgb(245, 242, 177), rgb(236, 236, 227));
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section2-card3{
    background: linear-gradient(to bottom, rgb(176, 153, 225), rgb(226, 226, 232));
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

}
.section2-card1-btn1{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #64C8FF;
    background-color: transparent;
    margin-bottom: 30px;
}
.section2-card1-btn2{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #F0AA00;
    background-color: transparent;
    margin-bottom: 30px;
}
.section2-card1-btn3{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #8700FF;
    background-color: transparent;
    margin-bottom: 30px;
}
.section2-section3{
    background-image:linear-gradient(rgba(255, 0, 0, 0.088), rgba(0, 0, 255, 0.170)),url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}
.sec2-btn{
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.sec2-btn4{
    background-color: #F0AA00;
    height: 40px;
    width: 40px;
    background-position: center;
    border-radius: 50%;
}
.sec2-img1{
    height:40px ;
    width: 40px;
}
.sec2-img2{
    height:40px ;
    width: 40px;
    transform: rotate(360deg);
}
.section2-t4{
    margin-top: 30px;
}
.section2-t5{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}
.section3-back{
    /* background: linear-gradient(to top, rgb(227, 220, 241), rgb(226, 226, 232)); */
}
.section3{
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
   grid-template-rows: repeat(2,1fr);
   gap: 10px;
   margin: 5% 5%;
}
.section3-card1{
    overflow: hidden;
    
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    grid-row: span 2;
    background-color:white;
    
}
.section3-btn1{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    position: relative;
    left: 100px;
    top: -20px;
    background-color: #01ACFD;
    border: none;

}
.section3-card1-t1{
    margin-left: 3%;
    margin-right: 3%;
}
.section3-card1-t2{
    margin-left: 3%;
    margin-right: 3%;
}
.section3-img1{
    max-width: 100%;
    height: 50%;
    height: auto;
    object-fit: contain;
}
.section3-card1-t1{
      margin-top: 40px;
}
.section3-img2{
    width: 100%;
}
.section3-card2{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color:white;
    
}
.section3-card3{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.section3-card4{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color: white;
    
}
.section3-card5{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.sec3-btns2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sec3-btn2{
    margin-bottom:5%;
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}
.footer-main-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #FFFFFF;
    background-color: #05D4DF;
    
}
.footer-sec1-part1{
    display: flex;
}
.footer-sec2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}
.footer-li{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-logo-fb{
    display: flex;
    gap: 7px;
}
/* footer{
    background-color: #01ACFD;
    max-height: 1440px;
} */

















/* for mobile  */
@media screen and (max-width:576px){
    .nav-menu{
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: -70px;
    }
    .navbar{
        border-bottom: 1px solid orange;
        height: 70px;
    }
    .nav-logo{
        height: 50px;
        width: 50px;
        margin-left: -70px;
    }
    .nav-links{
        display: none;
    }
    .nav-t1{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .section-1{
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
    }
   
    .sec1-img1{
        max-width: 350px;
    }
    .sec1-card1{
        display: flex;
        align-items: center;
         flex-direction: column;
         align-items: center;
    }
    .section2{
        flex-direction: column;
    }
    .section2-card1{
        margin-bottom: 40px;
    }
    .section2-card2{
        margin-bottom: 40px;
    }
    .section2-card3{
        margin-bottom: 40px;
    }
    .sec2-btn{
        display: none;
    }
    .section3-card1{
        display: none;
    }
    .section3{
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns:1fr 1fr;
       grid-template-rows: repeat(2,1fr);
       gap: 10px;
       margin: 5% 5%;
    }
    .section3-btn1{
        height: 40px;
        width: 150px;
        border-radius: 20px;
        position: relative;
        left: auto;
        top: -20px;
    
    }
    .footer-main-sec{
        flex-direction: column;
        padding-bottom: 110px;
    }

}